<div class="relative m-5 h-56 w-96 select-none rounded-lg border border-gray-100 p-6 shadow-lg">
    <p class="text-xl font-black">Question 1</p>
    <p class="mt-3">How satisfied are you with the new feature?</p>
    <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-0 right-0 m-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="mt-3 flex justify-between space-x-1">
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-sky-200 font-bold text-blue-900 hover:bg-blue-300">1</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-sky-200 font-bold text-blue-900 hover:bg-blue-300">2</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-sky-200 font-bold text-blue-900 hover:bg-blue-300">3</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-sky-200 font-bold text-blue-900 hover:bg-blue-300">4</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-sky-200 font-bold text-blue-900 hover:bg-blue-300">5</div>
    </div>
    <div class="mt-2 flex justify-between text-sm text-gray-400">
      <p>Not satisfied</p>
      <p>Very satisfied</p>
    </div>
  </div>
  
  <div class="relative m-5 h-56 w-96 select-none rounded-lg border border-gray-100 p-6 shadow-lg">
    <p class="text-xl font-black">Question 2</p>
    <p class="mt-3">How do you feel about the product?</p>
    <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-0 right-0 m-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="mt-3 flex justify-between space-x-1">
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-amber-200 text-xl font-bold hover:bg-amber-400">😤</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-amber-200 text-xl font-bold hover:bg-amber-400">😒</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-amber-200 text-xl font-bold hover:bg-amber-400">😐</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-amber-200 text-xl font-bold hover:bg-amber-400">🙂</div>
      <div class="flex h-12 w-16 cursor-pointer items-center justify-center rounded-md bg-amber-200 text-xl font-bold hover:bg-amber-400">😀</div>
    </div>
  </div>
  
  <div class="relative m-5 h-56 w-96 select-none rounded-lg border border-gray-100 p-6 shadow-lg">
    <p class="text-xl font-black">Question 3</p>
    <p class="mt-3">What are the reasons for cancelling the subscription?</p>
    <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-0 right-0 m-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="mt-3 flex flex-col justify-between space-y-1">
      <label class="text-sm" for="answer-1">
        <input class="accent-black" type="checkbox" name="answer-1" id="answer-1" />
        Don't need it right now
      </label>
      <label class="text-sm" for="answer-1">
        <input class="accent-black" type="checkbox" name="answer-1" id="answer-1" />
        Wasn't that useful
      </label>
      <label class="text-sm" for="answer-1">
        <input class="accent-black" type="checkbox" name="answer-1" id="answer-1" checked />
        Too expensive
      </label>
    </div>
  </div>
  