
<!-- <div class="pt-24 pb-8 bg-white">
  <h1 class="text-center text-2xl font-bold text-gray-800">Wishlist</h1>
</div>
<section class="py-8 bg-gray-100">
  <div class="mx-auto max-w-6xl p-6 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div *ngFor="let item of wishlistItems" 
    class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:scale-105 duration-300 cursor-pointer"
    (click)="viewProduct(item.product._id)">
      <div class="relative">
        <img [src]="getImageUrl(item.product.images)" alt="{{ item.product.name }}"
          class="h-64 w-full object-cover rounded-t-xl" />
      </div>
      <div class="px-4 py-3">
        <div *ngIf="item.product.brand" class="text-gray-400 mr-3 uppercase text-xs">
          {{ item.product.brand }}
        </div>
        <p class="text-lg font-bold text-black truncate capitalize">
          {{ item.product.name }}
        </p>
        <div class="flex items-center justify-between">
          <p class="text-lg font-semibold text-black my-3">
            ₹{{ item.product.monthlyPrice }}
          </p>
          
        </div>
        <div class="flex justify-around pb-3 px-4">
          <button (click)="removeFromWishlist(item.product._id)"
                  class="flex items-center px-4 py-2 space-x-1.5 text-white bg-red-500 rounded-lg shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
            <span>Remove</span>
          </button>
          <button (click)="viewProduct(item.product._id)"
                  class="flex items-center px-4 py-2 space-x-1.5 text-white bg-green-600 rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l18 18m-2-2H5a2 2 0 01-2-2V5c0-1.104.896-2 2-2h11.172c.53 0 1.039.211 1.414.586l2.828 2.828c.375.375.586.884.586 1.414V19a2 2 0 01-2 2v0z" />
            </svg>
            <span>Buy Now</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section> -->





<section class="pt-8 pb-40 bg-gray-100">
  <h1 class="text-center text-2xl font-bold text-gray-800 pb-4">Wishlist</h1>


  <div *ngIf="wishlistItems.length > 0; else emptyWishlist" class="w-auto mx-16 sm:mx-8 md:mx-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-8">
      <div *ngFor="let item of wishlistItems" class="flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md cursor-pointer transform transition duration-500 hover:scale-105">
        <div (click)="viewProduct(item.product._id)">
          <div class="relative m-4 flex h-60 overflow-hidden rounded-xl">
            <button (click)="removeFromWishlist(item.product._id); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="absolute right-0 top-0 m-2 w-8 h-8 z-0" >
              <!-- Outer Circle with currentColor -->
              <circle cx="12" cy="12" r="9.75" fill="white"/>
              <!-- Group for Cross with white fill -->
              <g fill="black">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd"/>
              </g>
            </svg>
          </button>
            <img [src]="getImageUrl(item.product.images)" alt="{{ item.product.name}}" class="w-full object-cover"/>
            <span *ngIf="item.product.discount > 0" class="absolute top-0 left-0 m-2 rounded-full bg-black px-3 py-1 text-xs font-medium text-white">{{item.product.discount}}% OFF</span>
          </div>
          <div class="mt-2 px-5 pb-5">
            <h5 class="text-md font-semibold tracking-tight text-slate-800">{{item.product.name}}</h5>
            <div class="mt-3 mb-4 flex items-center justify-between">
              <p class="text-md font-bold text-slate-900">₹{{item.product.subscriptions[0]?.monthlyPrice ?? 'N/A'}}/month</p>
              <div class="flex items-center">
                <!-- <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <span class="ml-2 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">5.0</span> -->

                <ng-container *ngFor="let star of [].constructor(5); let i = index">
                  <ng-container *ngIf="item.product.ratings >= i + 1; else halfOrEmptyStar">
                    <!-- Full Star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  </ng-container>
                  <ng-template #halfOrEmptyStar>
                    <ng-container *ngIf="item.product.ratings > i; else emptyStar">
                      <!-- Half Star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M12 0.25l2.165 4.383L19 5.867l-3.5 3.416.825 4.817-4.325-2.271-4.325 2.271.825-4.817L1 5.867l4.835-1.234L8 0.25m0-0.25c-.28 0-.557.071-.8.212l-4.2 2.2L.752 1.08a1.457 1.457 0 00-1.752.754L0 1.915l2.5 14.502c.123.71.73 1.216 1.45 1.216.28 0 .557-.071.8-.212l12.5-6.558a1.457 1.457 0 000-2.67L12 .212A1.51 1.51 0 0012 0z" />
                      </svg>
                    </ng-container>
                    <ng-template #emptyStar>
                      <!-- Empty Star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                      </svg>
                    </ng-template>
                  </ng-template>
                </ng-container>
                <span class="ml-2 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">{{item.product.ratings.toFixed(1)}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Keep the Wishlist button for now, as per your instruction -->
        <div class="flex justify-around pb-3 px-4" (click)="$event.stopPropagation()">
          <button class="w-full flex items-center justify-center rounded-md bg-slate-900 px-4 py-2 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300" (click)="viewProduct(item.product._id)">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <ng-template #emptyWishlist>
      <div class="flex flex-col items-center justify-center min-h-screen -mt-24">
        <img src="assets/empty-cart.png" alt="Empty Cart" class="mx-auto" style="width: 200px; height: 200px;">
        <h1 class="text-2xl font-bold mb-10 text-gray-900">Your Wishlist is Empty</h1>
        <a routerLink="/products" class="text-center">
          <button class="w-72 select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 bg-gradient-to-tr from-gray-900 to-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] rounded-full" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
            </svg>
            Add Items to Your Wishlist
          </button>
        </a>
      </div>
    </ng-template>
</section>
