<!-- <div *ngIf="isLoading">Loading products...</div>
<div *ngIf="!isLoading">
  <div class="flex justify-end mb-4">
    <button (click)="prepareAddProduct()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Add Product
    </button>
  </div>
  <ng-container *ngIf="!isEditing && !isAddMode; else editOrAddProductForm">
    <div *ngIf="products.length; else noProducts">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Image
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Brand
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Category
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Subscriptions
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Stock
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Created At
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let product of products">
            <td class="px-6 py-4 whitespace-nowrap">
              <img [src]="getImageUrl(product.images)" alt="{{product.name}}" class="h-20 w-20 object-cover rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">{{ product.name }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.brand }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.category }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <ul>
                <li *ngFor="let subscription of product.subscriptions">{{subscription.duration}} months: ₹{{subscription.monthlyPrice}}</li>
              </ul>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ product.stock }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.createdAt | date:'medium' }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <button (click)="editProduct(product)" class="text-indigo-600 hover:text-indigo-900">Edit</button>
              <button (click)="deleteProduct(product._id)" class="text-red-600 hover:text-red-900 ml-4">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noProducts>
      <div>No products found.</div>
    </ng-template>
  </ng-container>

  <ng-template #editOrAddProductForm>
    <div class="flex items-center justify-center p-12">
      <div class="mx-auto w-full max-w-[550px]">
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="mb-5">
            <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Name" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">Description</label>
            <textarea id="description" formControlName="description" rows="4" placeholder="Description" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
          </div>

          <div class="mb-5">
            <label for="brand" class="mb-3 block text-base font-medium text-[#07074D]">Brand</label>
            <input id="brand" formControlName="brand" type="text" placeholder="Brand" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">Category</label>
            <input id="category" formControlName="category" type="text" placeholder="Category" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="images" class="mb-3 block text-base font-medium text-[#07074D]">Image</label>
            <input id="images" type="file" (change)="handleFileInput($event)" name="images" multiple class="w-full rounded-md border py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
          </div>

          <div formArrayName="subscriptions" class="mb-5">
            <div *ngFor="let subscription of subscriptionsFormArray.controls; let i=index" [formGroupName]="i">
              <label class="block text-base font-medium text-[#07074D]">Subscription {{ i + 1 }}</label>
              <input formControlName="duration" type="text" placeholder="Duration in months"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <input formControlName="monthlyPrice" type="text" placeholder="Monthly Price"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <button type="button" (click)="removeSubscription(i)" class="mt-2 mb-4 text-red-500">Remove Subscription</button>
            </div>
            <button type="button" (click)="addSubscription()" class="py-2 px-4 bg-blue-500 text-white rounded">Add Subscription</button>
          </div>

          <div class="mb-5">
            <label for="stock" class="mb-3 block text-base font-medium text-[#07074D]">Stock</label>
            <input id="stock" formControlName="stock" type="number" placeholder="Stock" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
              Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              {{ isAddMode ? 'Add' : 'Update' }} Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>

 -->




<!-- <div *ngIf="isLoading">Loading products...</div>
<div *ngIf="!isLoading">
  <div class="flex justify-end mb-4">
    <button (click)="prepareAddProduct()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Add Product
    </button>
  </div>
  <ng-container *ngIf="!isEditing && !isAddMode; else editOrAddProductForm">
    <div *ngIf="products.length; else noProducts">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Image
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Brand
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Category
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Subscriptions
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Stock
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Created At
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let product of products">
            <td class="px-6 py-4 whitespace-nowrap">
              <img [src]="getImageUrl(product.images)" alt="{{product.name}}" class="h-20 w-20 object-cover rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">{{ product.name }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.brand }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.category }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <ul>
                <li *ngFor="let subscription of product.subscriptions">{{subscription.duration}} months: ₹{{subscription.monthlyPrice}}</li>
              </ul>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ product.stock }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.createdAt | date:'medium' }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <button (click)="editProduct(product)" class="text-indigo-600 hover:text-indigo-900">Edit</button>
              <button (click)="deleteProduct(product._id)" class="text-red-600 hover:text-red-900 ml-4">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noProducts>
      <div>No products found.</div>
    </ng-template>
  </ng-container>

  <ng-template #editOrAddProductForm>
    <div class="flex items-center justify-center p-12">
      <div class="mx-auto w-full max-w-[550px]">
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="mb-5">
            <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Name" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">Description</label>
            <textarea id="description" formControlName="description" rows="4" placeholder="Description" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
          </div>

          <div class="mb-5">
            <label for="brand" class="mb-3 block text-base font-medium text-[#07074D]">Brand</label>
            <input id="brand" formControlName="brand" type="text" placeholder="Brand" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">Category</label>
            <input id="category" formControlName="category" type="text" placeholder="Category" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="images" class="mb-3 block text-base font-medium text-[#07074D]">Image</label>
            <div *ngFor="let image of imagePreviews; let i = index" class="image-preview-container">
              <div class="image-wrapper">
                <img [src]="image" class="image-preview">
                <button (click)="removeImage(i)" class="remove-image-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
     
            <input id="images" type="file" (change)="handleFileInput($event)" name="images" multiple class="w-full rounded-md border py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
          </div>

          <div formArrayName="subscriptions" class="mb-5">
            <div *ngFor="let subscription of subscriptionsFormArray.controls; let i=index" [formGroupName]="i">
              <label class="block text-base font-medium text-[#07074D]">Subscription {{ i + 1 }}</label>
              <input formControlName="duration" type="text" placeholder="Duration in months"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <input formControlName="monthlyPrice" type="text" placeholder="Monthly Price"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <button type="button" (click)="removeSubscription(i)" class="mt-2 mb-4 text-red-500">Remove Subscription</button>
            </div>
            <button type="button" (click)="addSubscription()" class="py-2 px-4 bg-blue-500 text-white rounded">Add Subscription</button>
          </div>

          <div class="mb-5">
            <label for="stock" class="mb-3 block text-base font-medium text-[#07074D]">Stock</label>
            <input id="stock" formControlName="stock" type="number" placeholder="Stock" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
              Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              {{ isAddMode ? 'Add' : 'Update' }} Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div> -->






<!-- <div *ngIf="isLoading">Loading products...</div>
<div *ngIf="!isLoading">
  <ng-container *ngIf="!isEditing && !isAddMode; else editOrAddProductForm">
    <div class="flex w-full flex-col items-center justify-between space-y-2 sm:flex-row sm:space-y-0 mb-4">
      <form class="relative flex w-full max-w-2xl items-center" (submit)="searchProducts()">
        <svg class="absolute left-2 block h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" name="search" [(ngModel)]="keyword" class="h-12 w-full border-b-gray-400 bg-transparent py-4 pl-12 text-sm outline-none focus:border-b-2" placeholder="Search by Name, Brand, Category" (keyup)="search(keyword)">
      </form>
      <button (click)="prepareAddProduct()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add Product
      </button>
    </div>
    <div *ngIf="products.length; else noProducts">
      <div class="overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Image
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Brand
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Category
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Subscriptions
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Stock
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Created At
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let product of products">
            <td class="px-6 py-4 whitespace-nowrap">
              <img [src]="getImageUrl(product.images)" alt="{{product.name}}" class="h-20 w-20 object-cover rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">{{ product.name }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.brand }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.category }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <ul>
                <li *ngFor="let subscription of product.subscriptions">{{subscription.duration}} months: ₹{{subscription.monthlyPrice}}</li>
              </ul>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ product.stock }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.createdAt | date:'medium' }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <button (click)="editProduct(product)" class="text-indigo-600 hover:text-indigo-900"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
              </svg></button>
              <button (click)="deleteProduct(product._id)" class="text-red-600 hover:text-red-900 ml-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
              </svg></button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="flex items-center justify-center my-8 mb-32">
        <button *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          Previous
        </button>
      
        <div class="flex items-center gap-2">
          <button *ngFor="let number of paginationNumbers; let i = index" (click)="changePage(i + 1)"
            [class.bg-gray-900]="i + 1 === currentPage"
            class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
            <span [class.text-white]="i + 1 === currentPage"
              class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
              {{ i + 1 }}
            </span>
          </button>
        </div>
      
        <button *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Next
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
          </svg>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #noProducts>
    <div>No products found.</div>
  </ng-template>

  <ng-template #editOrAddProductForm>
    <div class="flex items-center justify-center p-12 mb-20">
      <div class="mx-auto w-full max-w-[550px]">
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="mb-5">
            <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Name" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">Description</label>
            <textarea id="description" formControlName="description" rows="4" placeholder="Description" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
          </div>

          <div class="mb-5">
            <label for="brand" class="mb-3 block text-base font-medium text-[#07074D]">Brand</label>
            <input id="brand" formControlName="brand" type="text" placeholder="Brand" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">Category</label>
            <input id="category" formControlName="category" type="text" placeholder="Category" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="mb-5">
            <label for="images" class="mb-3 block text-base font-medium text-[#07074D]">Image</label>
            <div *ngFor="let image of imagePreviews; let i = index" class="image-preview-container">
              <div class="image-wrapper">
                <img [src]="image" class="image-preview">
                <button (click)="removeImage(i)" class="remove-image-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <input id="images" type="file" (change)="handleFileInput($event)" name="images" multiple class="w-full rounded-md border py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
          </div>

          <div formArrayName="subscriptions" class="mb-5">
            <div *ngFor="let subscription of subscriptionsFormArray.controls; let i=index" [formGroupName]="i">
              <label class="block text-base font-medium text-[#07074D]">Subscription {{ i + 1 }}</label>
              <input formControlName="duration" type="text" placeholder="Duration in months"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <input formControlName="monthlyPrice" type="text" placeholder="Monthly Price"
                class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 my-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              <button type="button" (click)="removeSubscription(i)" class="mt-2 mb-4 text-red-500">Remove Subscription</button>
            </div>
            <button type="button" (click)="addSubscription()" class="py-2 px-4 bg-blue-500 text-white rounded">Add Subscription</button>
          </div>

          <div class="mb-5">
            <label for="stock" class="mb-3 block text-base font-medium text-[#07074D]">Stock</label>
            <input id="stock" formControlName="stock" type="number" placeholder="Stock" class="w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
              Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              {{ isAddMode ? 'Add' : 'Update' }} Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>  
</div>
 -->


 <!-- <ng-container *ngIf="!isEditing && !isAddMode; else editOrAddProductForm">
    <div class="flex w-full flex-col items-center justify-between space-y-2 sm:flex-row sm:space-y-0 mb-4">
      <form class="relative flex w-full max-w-2xl items-center" (submit)="searchProducts()">
        <svg class="absolute left-2 block h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" name="search" [(ngModel)]="keyword" class="h-12 w-ful  l border-b-gray-400 bg-transparent py-4 pl-12 text-sm outline-none focus:border-b-2" placeholder="Search by Name, Brand, Category" (keyup)="search(keyword)">
      </form>
      <button (click)="prepareAddProduct()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add Product
      </button>
    </div>
    <div *ngIf="products.length; else noProducts">
      <div class="overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Image
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Brand
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Category
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Subscriptions
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Stock
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Created At
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let product of products">
            <td class="px-6 py-4 whitespace-nowrap">
              <img [src]="getImageUrl(product.images)" alt="{{product.name}}" class="h-20 w-20 object-cover rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">{{ product.name }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.brand }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.category }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <ul>
                <li *ngFor="let subscription of product.subscriptions">{{subscription.duration}} months: ₹{{subscription.monthlyPrice}}</li>
              </ul>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ product.stock }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ product.createdAt | date:'medium' }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <button (click)="editProduct(product)" class="text-indigo-600 hover:text-indigo-900"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
              </svg></button>
              <button (click)="deleteProduct(product._id)" class="text-red-600 hover:text-red-900 ml-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
              </svg></button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="flex items-center justify-center my-8 mb-32">
        <button *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          Previous
        </button>
      
        <div class="flex items-center gap-2">
          <button *ngFor="let number of paginationNumbers; let i = index" (click)="changePage(i + 1)"
            [class.bg-gray-900]="i + 1 === currentPage"
            class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
            <span [class.text-white]="i + 1 === currentPage"
              class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
              {{ i + 1 }}
            </span>
          </button>
        </div>
      
        <button *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Next
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
          </svg>
        </button>
      </div>
    </div>
  </ng-container> -->
<div *ngIf="isLoading">Loading products...</div>
<div *ngIf="!isLoading">
  <ng-container *ngIf="!isEditing && !isAddMode; else editOrAddProductForm">
    <div class=" px-4 py-2 sm:px-8">
      <div class="flex items-center justify-between pb-3">
        <div class="flex items-center justify-between w-1/2">
          <form class="relative flex items-center w-full" (submit)="searchProducts()">
            <svg class="absolute left-2 block h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <input type="text" name="search" [(ngModel)]="keyword" class="h-12 w-full border-b-gray-400 bg-transparent py-4 pl-12 pr-6 text-sm outline-none focus:border-b-2" placeholder="Search by Name, Brand, Category" (keyup)="search(keyword)">
          </form>
        </div>
        <button (click)="prepareAddProduct()" class="ml-4 flex items-center gap-2 rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:outline-none focus:ring hover:bg-blue-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          Add Product
        </button>
      </div>
     
      <div class="overflow-y-hidden rounded-xl shadow">
        <div class="overflow-x-auto">
          <table class="w-full">
            <thead class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
              <tr>
                <th class="px-5 py-3">Image</th>
                <th class="px-5 py-3">Name</th>
                <th class="px-5 py-3">Brand</th>
                <th class="px-5 py-3">Category</th>
                <th class="px-5 py-3">Subscriptions</th>
                <th class="px-5 py-3">Discount</th> 
                <th class="px-5 py-3">Stock</th>
                <th class="px-5 py-3">Created At</th>
                <th class="px-5 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="text-gray-500">
              <tr *ngFor="let product of products">
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <img [src]="getImageUrl(product.images)" alt="{{product.name}}" class="h-12 w-12 object-cover rounded-full">
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  {{ product.name }}
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  {{ product.brand }}
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  {{ product.category }}
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <ul>
                    <li *ngFor="let subscription of product.subscriptions">{{subscription.duration}} months: ₹{{subscription.monthlyPrice}}</li>
                  </ul>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">{{ product.discount }}%</td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  {{ product.stock }}
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  {{ product.createdAt | date:'medium' }}
                </td>
                <td class="border-b border-gray-200 bg-white ml-1 px-4 py-5 text-sm">
                  <button (click)="editProduct(product)" class="text-indigo-600 hover:text-indigo-900"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                  </svg></button>
                  <button  (click)="openDeleteDialog(product.name, product._id)" class="text-red-600 hover:text-red-900 ml-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                  </svg></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="flex items-center justify-center my-8 mb-32">
        <button *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          Previous
        </button>
      
        <div class="flex items-center gap-2">
          <button *ngFor="let number of paginationNumbers; let i = index" (click)="changePage(i + 1)"
            [class.bg-gray-900]="i + 1 === currentPage"
            class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
            <span [class.text-white]="i + 1 === currentPage"
              class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
              {{ i + 1 }}
            </span>
          </button>
        </div>
      
        <button *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)"
          class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Next
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            aria-hidden="true" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
          </svg>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #noProducts>
    <div>No products found.</div>
  </ng-template>

  <ng-template #editOrAddProductForm>
    <div class="flex items-center justify-center p-12 mb-20">
      <div class="mx-auto w-full max-w-[550px]">
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="mb-5">
            <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Name"  [class]="editForm.get('name')?.touched && editForm.get('name')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
            <div *ngIf="editForm.get('name')?.touched && editForm.get('name')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('name')?.errors?.['required']">Name is required.</div>
              <div *ngIf="editForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
              <div *ngIf="editForm.get('name')?.errors?.['maxlength']">Name cannot be more than 80 characters long.</div>
            </div>
          </div>

          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">Description</label>
            <textarea id="description" formControlName="description" rows="4" placeholder="Description" [class]="editForm.get('description')?.touched && editForm.get('description')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'"></textarea>
            <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('description')?.errors?.['required']">Description is required.</div>
              <div *ngIf="editForm.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</div>
            <div *ngIf="editForm.get('description')?.errors?.['maxlength']">Description cannot be more than 500 characters long.</div>
            </div>
          </div>

          <div class="mb-5">
            <label for="brand" class="mb-3 block text-base font-medium text-[#07074D]">Brand</label>
            <input id="brand" formControlName="brand" type="text" placeholder="Brand" [class]="editForm.get('brand')?.touched && editForm.get('brand')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
            <div *ngIf="editForm.get('brand')?.touched && editForm.get('brand')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('brand')?.errors?.['required']">Brand is required.</div>
              <div *ngIf="editForm.get('brand')?.errors?.['minlength']">Brand must be at least 2 characters long.</div>
              <div *ngIf="editForm.get('brand')?.errors?.['maxlength']">Brand cannot be more than 20 characters long.</div>
            </div>
          </div>

          <div class="mb-5">
            <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">Category</label>
            <input id="category" formControlName="category" type="text" placeholder="Category" [class]="editForm.get('category')?.touched && editForm.get('category')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
            <div *ngIf="editForm.get('category')?.touched && editForm.get('category')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('category')?.errors?.['required']">Category is required.</div>
              <div *ngIf="editForm.get('category')?.errors?.['minlength']">Category must be at least 2 characters long.</div>
              <div *ngIf="editForm.get('category')?.errors?.['maxlength']">Category cannot be more than 15 characters long.</div>
              <div *ngIf="editForm.get('category')?.errors?.['pattern']">Name must contain only letters and certain punctuation (.,'-).</div>
            </div>
          </div>

          <div class="mb-5">
            <label for="images" class="mb-3 block text-base font-medium text-[#07074D]">Image</label>
            <div *ngFor="let image of imagePreviews; let i = index" class="image-preview-container">
              <div class="image-wrapper">
                <img [src]="image" class="image-preview">
                <button (click)="removeImage(i)" class="remove-image-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <input id="images" type="file" (change)="handleFileInput($event)" name="images" multiple class="w-full rounded-md border py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
          </div>

          <div formArrayName="subscriptions" class="mb-5">
            <div *ngFor="let subscription of subscriptionsFormArray.controls; let i=index" [formGroupName]="i">
              <label class="block text-base font-medium text-[#07074D]">Subscription {{ i + 1 }}</label>
                <input formControlName="duration" type="text" placeholder="Duration in months"
                [class]="editForm.get('duration')?.touched && editForm.get('duration')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
                <div *ngIf="subscription.get('duration')?.touched && subscription.get('duration')?.errors" class="text-red-500 text-sm">
                  <div *ngIf="subscription.get('duration')?.errors?.['required']">Duration is required.</div>
                  <div *ngIf="subscription.get('duration')?.errors?.['min']">Duration must be at least 1 month.</div>
                  <div *ngIf="subscription.get('duration')?.errors?.['max']">Duration cannot exceed 36 months.</div>
                </div>

                <input formControlName="monthlyPrice" type="text" placeholder="Monthly Price"
                [class]="editForm.get('monthlyPrice')?.touched && editForm.get('monthlyPrice')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
                <div *ngIf="subscription.get('monthlyPrice')?.touched && subscription.get('monthlyPrice')?.errors" class="text-red-500 text-sm">
                  <div *ngIf="subscription.get('monthlyPrice')?.errors?.['required']">Monthly price is required.</div>
                  <div *ngIf="subscription.get('monthlyPrice')?.errors?.['pattern']">Please enter a valid price.</div>
                </div>
              <button type="button" (click)="removeSubscription(i)" class="mt-2 mb-4 text-red-500">Remove Subscription</button>
            </div>
            <button type="button" (click)="addSubscription()" class="py-2 px-4 bg-blue-500 text-white rounded">Add Subscription</button>
          </div>

          <div class="mb-5">
            <label for="discount" class="mb-3 block text-base font-medium text-[#07074D]">Discount (%)</label>
            <input id="discount" formControlName="discount" type="number" placeholder="Discount in %" [class]="editForm.get('discount')?.touched && editForm.get('discount')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
            <div *ngIf="editForm.get('discount')?.touched && editForm.get('discount')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('discount')?.errors?.['required']">Discount is required.</div>
              <div *ngIf="editForm.get('discount')?.errors?.['min']">Discount cannot be less than 0%.</div>
              <div *ngIf="editForm.get('discount')?.errors?.['max']">Discount cannot be more than 100%.</div>
            </div>
          </div>

          <div class="mb-5">
            <label for="stock" class="mb-3 block text-base font-medium text-[#07074D]">Stock</label>
            <input id="stock" formControlName="stock" type="number" placeholder="Stock" [class]="editForm.get('stock')?.touched && editForm.get('stock')?.invalid ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-base rounded-lg focus:ring-red-500 focus:border-red-500 block w-full py-3 px-6' : 'w-full rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'" />
            <div *ngIf="editForm.get('stock')?.touched && editForm.get('stock')?.errors" class="text-red-500 text-sm mt-1">
              <div *ngIf="editForm.get('stock')?.errors?.['required']">Stock is required.</div>
              <div *ngIf="editForm.get('stock')?.errors?.['min']">Stock must be at least 1.</div>
              <div *ngIf="editForm.get('stock')?.errors?.['max']">Stock cannot exceed 10000 units.</div>
            </div>
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
              Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              {{ isAddMode ? 'Add' : 'Update' }} Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>  
</div>
