<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet" />
<style>
  * {
    font-family: 'Source Sans Pro';
    /* background-color: rgb(249 250 251); */
  }
</style>
<div class="grid content-start mx-auto max-w-screen-xl bg-gray-50">
  <h1 class="mt-24 mb-4 text-2xl font-bold text-gray-900">Admin Dashboard</h1>
  <div class="bg-gray-50 py-2">
    <nav class="flex flex-wrap gap-4">
      <a routerLink="/admin/products" routerLinkActive="active" class="tabs">Products</a>
      <a routerLink="/admin/users" routerLinkActive="active" class="tabs">Users</a>
      <a routerLink="/admin/categories" routerLinkActive="active" class="tabs">Category</a>
      <a routerLink="/admin/orders" routerLinkActive="active" class="tabs">Orders</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>

