<footer class="relative bg-gray-900 px-4 pt-20 pb-10 text-center mt-auto">
    <div class="absolute -top-10 left-1/2 h-16 w-16 -translate-x-1/2 rounded-xl border-4 border-white bg-gray-900 p-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class=" h-7 text-white sm:h-9">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>
    </div>
    <nav aria-label="Footer Navigation" class="mx-auto flex max-w-lg flex-col gap-10 items-center justify-center sm:flex-row">
      <a href="#" class="font-medium text-white">Home</a>
      <a href="#" class="font-medium text-white">Rent</a>
      <a href="#" class="font-medium text-white">Privacy Policy</a>
      <a href="#" class="font-medium text-white">Terms & Conditions</a>
    </nav>
    <p class="py-10 text-gray-300">© 2024 FurniFlex | All Rights Reserved</p>
  </footer>